name: Deploy React Portfolio

on:
  push:
    branches:
      - main  # Change to 'master' if your default branch is named master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18' # Matches a standard React environment

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{secrets.SERVER_PASSWORD}}
          port: ${{secrets.SERVER_PORT}}
          # 'dist' is for Vite. If you use Create-React-App, change this to 'build'
          source: "dist/" 
          target: "/var/www/portfolio"
          strip_components: 1 
          rm: true
