name: Deploy React Portfolio

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "dist/" # If using Vite (common for modern React)
          # source: "build/" # Use this if you are using Create React App (CRA)
          target: "/var/www/portfolio"
          strip_components: 1 # This prevents it from creating a /dist/ folder inside /portfolio
          rm: true
